<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
      />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">KB RATHOD</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/contact">contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid my-3,ml-10">
      <div id="carouselExampleIndicators" class="carousel slide"
        data-bs-ride="true">
      </button>

      <button type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1" aria-label="Slide 2">

      </button>

      <button type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2" aria-label="Slide 3">

      </button>


    </div>
    <div class="carousel-inner">


      <div class="carousel-item active">
        <img
          src="https://source.unsplash.com/random/1900x500/?wallpaper,landscape,code"
          class="d-block w-100" alt="...">
      </div>

      <div class="carousel-item active">
        <img
          src="https://source.unsplash.com/random/1900x500/?wallpaper,landscape,code"
          class="d-block w-100" alt="...">
      </div>


      <div class="carousel-item active">
        <img src="https://source.unsplash.com/random/1900x500/?fruit,programm"
          class="d-block w-100" alt="...">
      </div>


    </div>

    <button class="carousel-control-prev" type="button"
      data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">

      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>

    </button>

    <button class="carousel-control-next" type="button"
      data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div></div>

<div class="container my-3">
  <h2 class="mp-3 py"> Me at a Glance</h2>
  <div>
    <div class="row"> <div class="card" style="width: 18rem;">
        <img
          src="https://source.unsplash.com/random/500x300/?wallpaper,landscape,code"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Programmer</h5>
          <p class="card-text">Heyy, this is my programm </p>
          <a href="#" class="btn btn-primary">This is card no.1</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row"> <div class="card" style="width: 18rem;">
      <img
        src="https://source.unsplash.com/random/500x300/?wallpaper,landscape,code"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Entertainer</h5>
        <p class="card-text">Heyy, i am a entertainer </p>
        <a href="#" class="btn btn-primary">This is card no.2</a>
      </div>
    </div>
  </div>


  <div class="row"> <div class="card" style="width: 18rem;">
      <img
        src="https://source.unsplash.com/random/500x300/?wallpaper,landscape,code"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Desiner</h5>
        <p class="card-text">Welcome to my design </p>
        <a href="#" class="btn btn-primary">This is card no.4</a>
      </div>
    </div>
  </div>


  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous">

    </script>


  <div class="carousel-indicators">

    <button type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide
      1">



      <div>



      </div>
    </body>
  </html>
